<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
<head>
  <title>Register Here to Order Food..</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrapper">
    <h2>The Kwality Kitchen</h2>
    <form action="/registration" method="POST">
      <div class="input-box">
        <input name="fullName" type="text" placeholder="Enter your name" required id="full_name">
      </div>
      <div class="input-box">
        <input name="email" type="text" placeholder="Enter your email" required id="email">
      </div>
      <div class="input-box">
        <input name="number" type="number" placeholder="Enter Your number" required id="number">
      </div>
      <div class="input-box">
        <input name="password" type="password" placeholder="Create password" required id="password">
      </div>
      <div class="input-box">
        <input name="confirm_password" type="password" placeholder="Confirm password" required id="confirm_password">
      </div>
      <div class="policy">
        <input type="checkbox" id="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input name="submit" type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/loginindex">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
<script>
  const checkAuthentication = async () => {
    try {
      const token = await localStorage.getItem("kwalityKitchen");
      if (token === null) {
        alert("Please, Login to Continue !!");
        window.location.href = "/loginindex";
      }
    } catch (err) {
      console.error(err.message);
    }
  }

  checkAuthentication();
</script>
</html>
